default: &default
  adapter: postgresql
  encoding: unicode
  username: labber
  password: labber
  host: localhost
  port: 5432
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: fit_for_me_development

test:
  <<: *default
  database: fit_for_me_test

production:
  <<: *default
  database: fit_for_me_production
  username: server
  password: <%= ENV['SERVER_DATABASE_PASSWORD'] %>
