.exercise-header.MuiListSubheader-root {
	color: white;
	background-color: #cca43b;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div.MuiAccordionSummary-content {
	justify-content: space-between;
}

p.MuiTypography-root {
	color: #363636;
}

div.MuiSelect-select {
	color: white;
}

span.MuiCheckbox-root.Mui-checked {
	color: #cca43b;
}

#workout-label {
	color: white;
}

#select-days-label {
	color: white;
}

#select-equipment-label {
	color: #363636;
}

#equipment {
	color: #363636;
}

div.MuiFilledInput-root-MuiSelect-root:after {
	color: #cca43b;
}

.workout-header {
	background-color: #363636a1;
	color: #cca43a;
	height: 125px;
	width: 500px;
	border-radius: 10px;
	display: grid;
	align-content: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
