.navbar {
	display: grid;
	background-color: #242f40;
	color: white;
}
.nav-item {
	width: 200px;
	display: flex;
	justify-content: center;
}

.logo {
	font-size: 1.5rem;
}

.logo-icon {
	font-size: 2rem;
	color: #cca43b;
}
